# Spring Boot Application Configuration
PORT=8080
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/ecommerce
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=root

# Profile
SPRING_PROFILES_ACTIVE=mock

# JWT Configuration
JWT_SECRET=secret-jwt-key-ecommerce-api-security
JWT_EXPIRATION=2

# Docker Compose Configuration
POSTGRES_DB=ecommerce
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_PORT=5432
TZ=America/Sao_Paulo